In [1]:
import pandas as pd
import numpy as np

In [2]:
springfield = pd.read_json('assets/springfield.json')

In [3]:
springfield

,forecast,fuel_tech,history,id,region,type,units
0,NaN,black_coal,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.black_coal.power,Springfield,power,MW
1,NaN,distillate,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.distillate.power,Springfield,power,MW
2,NaN,gas_ccgt,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.gas_ccgt.power,Springfield,power,MW
3,NaN,hydro,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.hydro.power,Springfield,power,MW
4,NaN,pumps,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.pumps.power,Springfield,power,MW
5,NaN,wind,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.wind.power,Springfield,power,MW
6,NaN,exports,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.fuel_tech.exports.power,Springfield,power,MW
7,"{'start': '2019-10-21T00:00+1000', 'last': '20...",rooftop_solar,"{'start': 1571578200, 'last': 1571580000, 'int...",Springfield.fuel_tech.rooftop_solar.power,Springfield,power,MW
8,NaN,NaN,"{'start': 1571578200, 'last': 1572183000, 'int...",Springfield.price,Springfield,price,USD/MWh
9,NaN,NaN,"{'start': 1571579700, 'last': 1572184500, 'int...",Springfield.demand,Springfield,demand,MW
10,NaN,NaN,"{'start': 1571578200, 'last': 1572183000, 'int...",Springfield.temperature,Springfield,temperature,degreesF

In [22]:
for i in range(11):
    display(str(i) +': ' + str(len(springfield.history[i]['data'])))

'0: 2016'

'1: 2016'

'2: 2016'

'3: 2016'

'4: 2016'

'5: 2016'

'6: 2016'

'7: 1'

'8: 336'

'9: 2016'

'10: 336'

In [ ]:
pd.read_json('assets/sample_data copy.json')